/* 
    Document   : operador
    Created on : 22-ene-2014, 12:51:22
    Author     : juanlu
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}



.mRecibido{
    width: 100%;
    text-align: left;
    color: #690;        
}

.mEnviados{
    width: 100%;
    text-align: right;
    color: brown;   
}

#muestraMensaje{
    width: 95%;
    height: 200px;
    min-height: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}